@model IEnumerable<StudentCommunity.UI.Data.Advertising>
@{
	Layout = "";
}
<html>
<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"]</title>
	<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />

	<link href="~/custom/css/main.min.css" rel="stylesheet" />
	<link href="~/custom/css/strip.css" rel="stylesheet" />
	<link href="~/custom/css/style.css" rel="stylesheet" />
	<link href="~/custom/css/color.css" rel="stylesheet" />
	<link href="~/custom/css/responsive.css" rel="stylesheet" />
	<style>
		th {
			text-align: center;
		}

		td {
			width: 20%;
			text-align: center;
		}

		a {
			text-decoration: underline;
		}

			a:hover {
				color: white;
			}
	</style>
</head>
<body style="background-color:#088dcd;">
	<section>
		<div class="gap color-bg">
			<div class="container">
				<div class="row">
					<div class="col-lg-12">
						<div class="faq-top">
							<h1>
								Student Library and Study Center
							</h1>
							<h2>Acceptance Center</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<div class="container-fluid col-lg-11 my-3">
		@if (!Model.Any())
		{
			<h2 style="color:white;">No Advertisings Need To Be Acceptance <i class="fa fa-exclamation-triangle" aria-hidden="true"></i></h2>
			<a asp-action="Index" asp-controller="Community" class="text-white bold"><b>Back to Community</b></a>
		}
		else
		{
			<table class="table">
				<thead>
					<tr>
						<th>
							<h3>Advertising Title</h3>
						</th>
						<th>
							<h3>Advertising Text</h3>
						</th>	
						<th>
							<h3>Advertising Image</h3>
						</th>
						<th>
							<h3>Phone Number</h3>
						</th>
						<th>
							<h3>Action</h3>
						</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model)
					{
						<tr>
							<td>
								@Html.DisplayFor(modelItem => item.Title)
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.Text)
							</td>		
							<td>
								<img src="@item.ImagePhath" alt="img">
							</td>
							<td>
								@Html.DisplayFor(modelItem => item.PhoneNumber)
							</td>
							<td>
								<a asp-action="Accept" asp-controller="Advertisement" asp-route-Id="@item.Id">Accept</a>
								<a asp-action="Decline" asp-controller="Advertisement" asp-route-Id="@item.Id">Decline</a>
							</td>
						</tr>
					}
				</tbody>
			</table>

		}
	</div>
</body>
</html>
